body {
  font-family: 'Ubuntu', sans-serif;
  display: block;
 
}

h1 {
  display: block;
  width: 100%;
  text-align: center;
}

h2 {
  display: block;
  text-align: center;
}
p {
  display: block;
  text-align: justify;
  margin-left: 200px;
  margin-right: 200px;
}
button {
  display: block;
  text-align: center;
  background-color: blue;
  border-radius: 5px;
  padding: 7px;
  color: white;
}

button:hover {
  cursor: pointer;
}

.button-box {
  text-align: center;
  height: 50px;
  position: relative;
}

.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}